<div class="textbox" id="password-textbox">


    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
            <input type="checkbox" id="password-checkbox" class="form-check-input" [(ngModel)]="passwordCheck"
                (click)="hideShowPassword()" />

            <label *ngIf="label" translate></label>
            <span *ngIf="star" style="color:#054876; font-weight: bolder;"> Password</span>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
            <input type="checkbox" id="password-checkbox" class="form-check-input" />
            <button class="btn-like-text" (click)="hideShowPassword()"> {{ passwordCheck ? 'Hide' : 'Show' }}</button>
        </div>
    </div>

    

    <input [type]=" passwordCheck ? 'text' : 'password' " name="pass" id="pass" [(ngModel)]="pass"
        class="form-control newpassword" [(ngModel)]="bind" placeholder=" EnterPassword" data-toggle="tooltip"
        (ngModelChange)="countStrength(pass)" [tabindex]="tabIndex" no-spaces data-placement="right"
        data-container="body" (cut)="$event.preventDefault()" (copy)="$event.preventDefault()"
        (paste)="$event.preventDefault()" [ngClass]="{'input-data-error': validate}" popover-trigger="'focus'"
        popover-placement="right" autocomplete="on">

    <div *ngIf="showmeter && !validate">
        <div *ngIf="displaymeter" class="strengthmeter">
            <label class="textmeter" [innerText]="strengthText "></label>
            <div class="colormeter" [ngStyle]="color"></div>
        </div>
    </div>



    <script type="text/ng-template" id="myPopoverTemplate.html">
    <div class="toolTipBox" style="min-width:256px;width:auto;">
        <p><b class="large-font" translate>ThePasswordMustHave</b></p>
        <p [ngClass]="strength ? 'tooltip-error-false' : 'tooltip-error-true'">
            <span [ngClass]="strength ? 'fa fa-check-square-o' : 'fa fa-minus-square-o'"></span>
            <span translate>Atleast</span><span> {{character}} </span><span translate>Characters</span>
        </p>
        <p *ngIf="model.passwordSettings.IsNumber" [ngClass]="number ? 'tooltip-error-false' : 'tooltip-error-true'">
            <span [ngClass]="number ? 'fa fa-check-square-o' : 'fa fa-minus-square-o'"></span>
            <span translate>AtleastOneNumber</span>
        </p>
        <p *ngIf="IsUppercase" [ngClass]="uppercase ? 'tooltip-error-false' : 'tooltip-error-true'">
            <span [ngClass]="uppercase ? 'fa fa-check-square-o' : 'fa fa-minus-square-o'"></span>
            <span translate>AtleastOneUppercase</span>
        </p>
        <p *ngIf="passwordSettings.IsLowercase" [ngClass]="lowercase ? 'tooltip-error-false' : 'tooltip-error-true'">
            <span [ngClass]="lowercase ? 'fa fa-check-square-o' : 'fa fa-minus-square-o'"></span>
            <span translate>AtleastOneLowercase</span>
        </p>
        <p *ngIf="passwordSettings.IsSpecialCharacter" [ngClass]="special ? 'tooltip-error-false' : 'tooltip-error-true'">
            <span [ngClass]="special ? 'fa fa-check-square-o' : 'fa fa-minus-square-o'"></span>
            <span translate>AtleastOnespecialCharacter</span>
        </p>
        <p *ngIf="passwordSettings.IsAllowTrivialPassword" [ngClass]="trivial ? 'tooltip-error-false' : 'tooltip-error-true'">
            <span [ngClass]="trivial ? 'fa fa-check-square-o' : 'fa fa-minus-square-o'"></span>
            <span translate>DontUseaTrivialPassword</span>
        </p>
    </div>
</script>

</div>