<div class="dialog-outer-container">
    <div class="modal fade" id="confirmDialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h3 class='text-center'>Static Modal Title</h3>
                    </div>
                    <div class="modal-body">
                        <div class="lead text-center">
                            <span>Static Modal Text</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnYesConfirmYesNo" type="button" class="btn btn-success btn-medium modalBtnWidth">Ok</button>
                        <button id="btnNoConfirmYesNo" data-dismiss="modal" type="button" class="btn btn-warning btn-medium modalBtnWidth pull-left">Cancel</button>
                        <button id="btnForceConfirmYes" type="button" class="btn btn-warning btn-medium modalBtnWidth">Force</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dialog-outer-container">
    <div class="modal fade" id="confirmDialogGlobal" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="lead text-center">
                            <span>Processing</span>
                        </div>
                        <div class="lead text-center">
                            <span>0m</span> <span>0s</span>
                        </div>
                        <div class="lead text-center" id="loading-icon">
                            <span class="fa fa-circle-o-notch fa-spin fa-2x"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
