<nav class="navbar navbar-default" role="navigation" id="navBarFixes">
    <div class="container-fluid header-padding if-blur-content">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header float-start ms-auto">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand fa-cube-navbar clickable">
                <img src="/Content/img/logo-small.png" alt="Logo">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse float-end" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav navbar-right">
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{selectedLanguage}}
                        <span class="caret" *ngIf="languages.length > 0"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li *ngFor="let language of languages" (click)="selectOption(language)">
                            {{language}}
                          </li>                 
                    </ul>
                  </li>
            </ul>
        </div>
    </div>
</nav>

<div class="clearfix"></div>
<div class="container-fluid" id="child-container" *ngIf="!blockFirefox">
    <br /><br /><br /><br />
    <div class="col-lg-12 col-md-12 text-center inner-container">
        <h1 class="form-head" *ngIf="!logout" translate>Welcome To The Viewbox Of AvenData</h1>
        <h1 class="form-head" *ngIf="logout" translate>YouWereAutomaticallyLoggedOut</h1>
    </div>

    <div class="row message" *ngIf="clientLogo !== undefined && clientLogo !== null">
        <div class="text-center col-md-6 col-md-offset-3 top-bottom-padding">
            <img class="login-screen" [(ngModel)]="clientLogo" name="clientLogo" />
        </div>
    </div>

    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 if-blur-content">
        <div class="message top-bottom-padding" *ngIf="logout">
            <h4 class="text-center" translate>
                TheViewboxHasDetectedAnInactivityAndAutomaticallyLogsYouOutToAdjustTheIntervalYouMustGoToViewboxSettingsOrAskTheAdministratorYouWillAutomaticallyBeRedirectedToTheLoginPage
            </h4>
        </div>

        <form method="post" name="login-page" id="login-page-form" class="form-horizontal" (submit)="login()">
            <div class="row top-padding">
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
                    <div class="width-338">
                        <ng-container *ngIf="showTextWarning">
                            <div class="text-warning text-center" translate>CheckYourUsernameAndPassword</div>
                            <div class="text-warning text-center" translate>IfYouStillCantLogInContactYourSystemAdministrator</div>
                        </ng-container>
                        <div class="text-warning text-center" *ngIf="showUserNameInvalid" translate>PleaseEnterYourUsername</div>
                        <div class="text-warning text-center" *ngIf="showPasswordInvalid" translate>PleaseEnterYourPassword</div>
                        <div class="text-warning text-center" *ngIf="showAuthorizedAccess" translate>TheAuthorizationForViewsAndTablesHaveBeenRemovedContactAdministratorForAccess</div>

                        <div class="text-warning text-center" *ngIf="showForceLogoutMessage" translate>{{forceLogoutMessage}}</div>
                        <label translate>Username</label>
                        <input type="text"
                               name="username"
                               id="userName"
                               class="form-control"
                               [(ngModel)]="userName"
                               (keydown)="onEnter($event)"
                               [value]="userName"
                               focus="true"
                               tabindex="1" placeholder="{{'EnterUsername' }}"
                               [ngClass]="{'input-data-error': userNameInvalid}"
                               (ngModelChange)="removeError()"
                               autocomplete="on"
                               [disabled]="oktaLogin=='true'" />
                        <div class="top-bottom-padding-sm text-right text-link">
                            <a class="btn-link clickable" [routerLink]="['UsernameReminderPage']" tabindex="4" [ngClass]="{'oktaDisable': oktaLogin=='true'}">
                                <span translate>ForgotYourUsername</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row top-padding">
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
                    <div class="width-338">
                        <app-passaword-text-box></app-passaword-text-box>
                        <div class="top-bottom-padding-sm col-md-6 warning-message">
                            <span class="text-warning bottom-padding-caps-on" *ngIf="isCapsLockOn">Caps lock is on!</span>
                            <div class="form-check pull-left">
                                <label class="form-check-label" [ngClass]="{'oktaDisable': oktaLogin=='true'}">
                                    <input type="checkbox" class="form-check-input" (click)="savePassword()" [(ngModel)]="remember" name="remember">
                                    <span id="remeberMe" translate>RememberMe</span>
                                </label>
                            </div>
                        </div>
                        <div class="top-bottom-padding-sm text-right text-link pull-right">
                            <a class="btn-link clickable" [routerLink]="['PasswordResetPage']" tabindex="5" [ngClass]="{'oktaDisable': oktaLogin=='true'}">
                                <span translate>ForgotYourPassword</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row top-padding">
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center login-btn">

                    <input type="submit" name="doLogin" value="Login" class="btn btn-medium btnMdWidth" (click)="login()" />
                    <br />
                    <span *ngIf="showADLogin"></span>
                    <span *ngIf="showADLogin" class="text-center" translate>Or</span>
                    <br />
                    <button type="button" *ngIf="showADLogin" class="btn btn-medium btnMdWidth btn-success" style="margin-top: 8px; margin-right: 4px;" [ngClass]="{'oktaDisable': oktaLogin=='true'}" (click)="enableAzureADLogin ? MSALPopup() : null" [routerLink]="enableAzureADLogin ? ['LoginPage'] : ['ActiveDirectoryLog']">
                        <span translate>ActiveDirectoryLogin</span>
                    </button>
                    <span *ngIf="jsonLogin"><br /><br /></span>
                    <span *ngIf="jsonLogin" class="text-center" translate>Or</span>
                    <span *ngIf="jsonLogin"><br /></span>
                    <button    class="btn btn-medium btnMdWidth btn-success" style="margin-top: 8px;margin-right:4px;" routerLink="/jasonLogin" >
                        <span translate>JsonTokenLogin</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container-fluid" id="child-container" *ngIf="blockFirefox">
    <div class="col-lg-12 col-md-12 text-center inner-container">
        <h1 class="form-head" *ngIf="notdefine">
            <span translate>WelcomeToTheViewboxOf</span> {{ projectName }}
        </h1>
    </div>
    <div class="row message" *ngIf="clientLogo !== undefined && clientLogo !== null">
        <div class="text-center col-md-6 col-md-offset-3 top-bottom-padding">
            <img class="login-screen" [(ngModel)]="clientLogo" name="clientLogo" />
        </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 if-blur-content">
        <div class="message top-bottom-padding">
            <h4 class="text-center" *ngIf="notdefine" translate>
                TheBrowserHasNoUsageReleasePleaseUseADifferentBrowserToLogInToViewboxIfYouHaveAnyQusetionsPleaseContactTheCustomerSupport
            </h4>
        </div>
    </div>
</div>

<app-confirm-dialogue-view></app-confirm-dialogue-view>

